internal.README.md
AWSCLIV2.pkg
website/.env
to-do-list.txt
services/michael-burbank/.env
infra/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/darwin_arm64/LICENSE.txt
infra/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/darwin_arm64/terraform-provider-aws_v5.100.0_x5
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
.terraform/
.DS_Store
node_modules/

.env
infra/terraform/terraform.tfvars
infra/ansible/ansible-README.md
AWS-Ansible.code-workspace.json
infra/ansible/inventory/inventory.ini
.ansible/.lock

# General
docs/
*.vscode/
.DS_Store
__MACOSX/
.AppleDouble
.LSOverride
Icon[]
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
ansible-README.md
.ansible/.lock
*.ansible/

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.vscode/settings.json
cspell.json
templates.html

# Secrets
*.pem
*.key
.venv/
env/
.env.local
.env.*.local
venv/
ENV/
aws-credentials.json
aws-exports.js

inventory.ini
AWS-Ansible.code-workspace
devices.json
