internal.README.md
AWSCLIV2.pkg
website/.env
to-do-list.txt
services/michael-burbank/.env
infra/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/darwin_arm64/LICENSE.txt
infra/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/darwin_arm64/terraform-provider-aws_v5.100.0_x5
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
.terraform/
.DS_Store
node_modules/

.env
infra/terraform/terraform.tfvars
