include:
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml

variables:
  SECRET_DETECTION_ENABLED: "true"
  GIT_DEPTH: 0

stages:
  - secret-detection
  - ci
  - test
  - build
  - deploy

github:
  stage: ci
  script:
    - echo "Pushing to GitHub repository..."
    - |
      git config user.name "Michael-Burbank"
      git config user.email "Mike.W.Burbank@Gmail.com"
    - |
      if git remote | grep github; then
        git remote set-url github "https://${GITHUB_TOKEN}@github.com/Michael-Burbank/CloudOps-Status-Page.git"
      else
        git remote add github "https://${GITHUB_TOKEN}@github.com/Michael-Burbank/CloudOps-Status-Page.git"
      fi
    - git checkout -b main || git checkout main
    - git push github main
    - echo "Pushed to GitHub repository."
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: always

deploy_to_dev_environment:
  image: python:3.12
  stage: deploy
  script:
    - set -e
    - echo "Installing AWS CLI..."
    - pip install --upgrade awscli
    - echo "Checking out code..."
    - echo "Configuring AWS credentials..."
    - export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
    - export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
    - export AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION
    - echo "Syncing files to AWS S3 bucket..."
    - cd ~/.services/michael-burbank/frontend/
    - aws s3 sync . s3://$S3_BUCKET_NAME --delete
    - |
      echo "Website URL: http://${S3_BUCKET_NAME}.s3-website-${AWS_DEFAULT_REGION}.amazonaws.com"
      echo "Invalidating CloudFront Distribution..."
    - aws cloudfront create-invalidation --distribution-id $CLOUDFRONT_DISTRIBUTION_ID --paths "/*"
    - echo "Deployed to development environment."
  environment:
    name: development
    url: http://$S3_BUCKET_NAME.s3-website-$AWS_DEFAULT_REGION.amazonaws.com
  only:
    - main
